* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Fallback, sans-serif;
}

/* main-wrapper */
.main-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg ,#dddbd1 ,#d2dbdc);
}

.main-wrapper::after {
    content: "";
    height: 260px;
    width: 100%;
    background-color: #009688;
    position: fixed;
    top: 0;
    left: 0;
}

/* app-wrapper */
.app-wrapper {
    height: 65vh;
    width: 55vw;
    box-shadow: 0 1px 1px 0 rgba(0 ,0 ,0 , .06), 0 2px 5px 0 rgba(0 ,0 ,0, .2);
    z-index: 1;
}

/* .message-box */
.message-box {
    flex: 100%;
    overflow: hidden;
}

.msg-info-contact {
    background-color: #ededed;
    padding: 6px 16px;
    height: 55px;
    border-bottom: 1px solid rgba(0 ,0 ,0 , .08);
}

.msg-info-contact .msg-info-contact-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.msg-info-contact-extra span {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.msg-info-contact-extra span:not(:first-child) {
    margin-left: 25px;
}

.msg-input input::placeholder {
    color: #bfbfbf;
}

.msg-info-contact-name h4 {
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
}

.msg-conversation {
    background-image: url("../img/background_conversation.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 9%;
    width: 100%;
    height: 100%;
}

.msg-input {
    width: 100%;
    background-color: #EDEDED;
    height: 62px;
}

.msg-input span {
    margin: 0 0 0 20px;
    cursor: pointer;
}

.msg-input input {
    width: 100%;
    height: 42px;
    background-color: #FFF;
    border: none;
    outline-style: none;
    border-radius: 2rem;
    margin: 0 20px;
    padding-left: 10px;
}

.msg-input input[type="text"] {
    font-size: 15px;
    padding-left: 30px;
}

/* message */
.message {
    min-width: 80px;
    max-width: 70%;
    padding: 5px 5px;
    margin: 1px;
    border-radius: 7.5px;
    box-shadow: 0 1px .5px rgba(0 ,0 ,0 , .13);
}

.message:first-child {
    margin-top: 20px;
}

.message:last-child {
    margin-bottom: 20px;
}

.message .message-top p {
    word-wrap: break-word;
    padding: 0 30px 0 10px;
    font-size: 14.2px;
}

.message-bottom {
    text-align: right;
    font-size: 11px;
    color: rgb(173, 173, 173);
    margin: -10px 0 -5px 5px;
}

.msg-sent {
    float: right;
    clear: both;
    background-color: #D1EBBC;
}

.msg-received {
    float: left;
    clear: both;
    background-color: #FFF;
}

/* webkit-scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0 ,0 ,0 , .2);
}

/* *************************************************************** */
@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI"),
        url('http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2') format("woff2");
}

@media only screen and (max-width: 1200px) {
    .main-wrapper .app-wrapper{
        width: 100vw;
        height: 100vh;
    }
}
